input {
  padding: 0.3em;
  border-color: #cccccc;
  border-radius: 0.3em;
}

#match-list {
  list-style-type: none; /* Remove bullets */
  padding-left: 1.2em;
  width: 46%;
  background-color: #eeeeee;
  border-radius: 0.3em;
}

#match-list li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
}

#match-list li.local {
  background-color: lightgreen;
}

#match-list li.nonlocal {
  background-color: burlywood;
}
