$font-family-sans-serif:
  // Cross-platform generic font family (default user interface font)
  system-ui,
  // Safari for macOS and iOS (San Francisco)
  -apple-system,
  // Windows
  "Segoe UI",
  // Android
  Roboto,
  // Basic web fallback
  "Helvetica Neue", Arial,
  // Linux
  "Noto Sans",
  "Liberation Sans",
  // Sans serif fallback
  sans-serif,
  // Emoji fonts
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

body, textarea, input[type="text"], input[type="email"], button, select {
	font-size: 16px;
}
@media only screen and (max-width: 576px) {
	body, textarea, input[type="text"], input[type="email"], button, select {
		font-size: 22px;
	}
}

#match-list li.local {
  background-color: lightgreen;
}

#match-list li.nonlocal {
  background-color: burlywood;
}
